body.dark-mode { 
    -webkit-filter: invert(1);
}

nav.navbar-inverse.navbar-fixed-top.dark-mode {
    background-color: inherit;
    border-color: inherit;
}

button.dark-mode {
    -webkit-filter: invert(1);
}

.navbar-brand.dark-mode {
    -webkit-filter: invert(1);
}

.dropdown-toggle.dark-mode {
    -webkit-filter: invert(1);
}

.label.label-success.dark-mode {
    -webkit-filter: invert(1);
}

#profilePic.dark-mode {
    -webkit-filter: invert(1);
}

#brandIcon.dark-mode {
    -webkit-filter: invert(1);
}
