/*
Created on : Mar 31, 2016, 9:05:26 PM
Author     : Eli Davis
*/

html,
body {
    background-color: #f2f5f2;
    width: 100%;
    height: 100%;
    color: #333333;
}

#brandIcon {
    width: 32px;
    height: 32px;
    margin: 8px 8px 0px 0px;
}

#sidebar {
    background-color: #e5e5e5;
    border-right-width: 2px;
    border-right-style: solid;
    border-color: #bfbfbf;
}

.panel {
    box-shadow: none;
    drop-shadow: none;
    border: none;
    background-color: #cbcbcb;
    margin-left: -6px;
    margin-right: -6px;
}

.panel-body {
    background-color: #e5e5e5;
    color: #404040;
}

.navbar-brand {
    font-size: large;
    color: #fafafa;
}

#profilePic {
    height: 28px;
    width: 28px;
    margin: 10px -8px 10px 12px;
    border-radius: .2em;
    position: relative;
    z-index: 99;
}

.add-button {
    color: #21d467;
}

#add-textButton {
    margin-top: 12px;
    margin-right: 12px;
    font-size: medium;
    color: #21d467;
}

#google-maps-iframe {
    margin-top: -20px;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
    min-height: 110px;
    position: relative;
}

.modal {
    /* ... */
    overflow-y: scroll;
}

.small-vending-loc {
    width:100%;
    margin-bottom: 10px;
    min-height: 5em;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    /*Mobile Device*/
    /*Eli*/
    .mobile-hide{ display: none; }

    /*Josh*/
    /*Hide "VendinGoGo Logo Text"*/
    li.navbar-brand,
    a.navbar-brand {
        display: none;
    }

    /*Position left section of navbar*/
    ul.navbar-center {
        float: left;
        width: 120px;
        margin-top: .5em;
        margin-left: 0em;
        margin-bottom:.5em;
    }

    /*Position right section of navbar*/
    ul.navbar-right {
        float: right;
        margin-top: .5em;
        margin-right: 0em;
        margin-bottom:.5em;
        width: 33%;
        min-width: 200px;
        text-align: right;
    }

    /*Size of logo image*/
    ul.navbar-center li {
        width: 60px;
    }

    /*Correct text align for children in drop-down*/
    ul.navbar-right li {
        text-align: right;
    }

    /*Re-align profilePic and dropdown text*/
    ul.navbar-right li.dropdown {
        position: relative;
        margin-top: .3em;
    }

    /*Position profilePic*/
    #profilePic {
        float: right;
    }

    /*Set border around dropdown menu*/
    .dropdown.open {
        border: solid 2px #080808;
    }

    /*Set border for top of dropdown menu to be noticed in darkmode*/
    ul.dropdown-menu {
        border-top: solid 2px #080808 !important;
    }

    /*Set color of text links in dropdown to be same in darkmode and light*/
    ul.dropdown-menu li a {
        color: #808080 !important;
    }
}

@media screen and (min-width: 768px)  {
    .mobile-show{ display: block;}
}
