/*
index-darkmode.css
*/

body.dark-mode {
    -webkit-filter: invert(1);
}

nav.navbar-inverse.navbar-fixed-top.dark-mode {
    background-color: inherit;
    border-color: white;
}

.navbar-brand.dark-mode {
    -webkit-filter: invert(1);
}

.dropdown-toggle.dark-mode {
    -webkit-filter: invert(1);
}

#profilePic.dark-mode {
    -webkit-filter: invert(1);
}

/*
body.dark-mode {
=======

/*body.dark-mode {
>>>>>>> 984dc1d4229d02cfc9c8f2dd8821d452da28f818
    background-color: #2d2e30;
    width: 100%;
    height: 100%;
    color: #b8b8b8;
}

#sidebar.dark-mode {
    -webkit-filter: invert(1);
    background-color: #b1b1b1;
    border-right-width: 2px;
    border-right-style: solid;
    border-color: #9a9a9a;
}

.modal {
    color: #b8b8b8;
}

.modal-content {
    background-color: #494b50;

}

.well {
    background-color: #5d5f64;
    border-color: #7b7e84;
<<<<<<< HEAD
}
*/
