:root {
  --main-background-color: #f4f4f4;
  --main-text-color: #424242;
  --main-highlight-color: #63a2f5;
  --main-extra-color: #21d467;
  --main-darker-highlight-color: #4e50f0;
  --background-color: var(--main-background-color);
  --footer-background-color: var(--main-text-color);
  --navbar-background-color: var(--main-highlight-color);
  --text-color: var(--main-text-color);
  --footer-text-color: var(--main-background-color);
  --navbar-text-color: var(--main-text-color);
  --link-text-color: var(--main-text-color);
  --link-hover-text-color: var(--main-text-color);
  --link-hover-background-color: var(--main-background-color);
  --button-background-color: var(--main-highlight-color);
  --button-hover-background-color: var(--main-darker-highlight-color);
  --button-border-color: var(--main-highlight-color);
}
html, body {
  background-color: #f4f4f4;
  width: 100%;
  height: 100%;
}
#navbar-brand-text {
  margin-top: 12px;
  font-size: large;
  color: #f4f4f4;
}
#add-textButton {
  margin-top: 12px;
  margin-right: 12px;
  font-size: medium;
  color: #21d467;
}
#google-maps-iframe {
  margin-top: -20px;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
}
